@charset "utf-8";

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
legend,
button form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td { 
    padding: 0;
    margin: 0;
}


body {
    background: #fff;
    font-size: 12px;
    font-family: "Microsoft YaHei";
}

/* 图片等无边框 */
img {
    border: 0 none;
}


/* 清除特殊标记的字体和字号 */
caption,
em,
th {
    font-weight: normal;
    font-style: normal;
}

/* 上下标 */
sup {
    vertical-align: text-top;
}

sub {
    vertical-align: text-bottom;
}

/* 设置表格的边框被合并为一个单一的边框, 指定分隔边框模型中单元格边界之间的距离为0*/
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* 居中显示图片文字 */
/* input,
img {
    vertical-align: middle;
} */

/* 清除列表样式 */
ol,
ul {
    list-style: none;
}


/* 标题元素样式清除 */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

/* 链接样式，颜色可酌情修改 */

a {
    text-decoration: none;
}

/* 鼠标样式 */
input[type="submit"] {
    cursor: pointer;
}

button {
    cursor: pointer;
}

input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

